{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Hearcloud{% endblock %}</title>

  <!-- Loads the path to your static files -->
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <!-- Bootstrap CSS v3.3.6 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Font: Satisfy-->
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'box/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'box/css/player.css' %}"/>
  <!-- JQuery v2.2.2 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- JQuery Cookie -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Pjax JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.js"></script>
  <!-- Custom JS -->
  <script src="{% static 'box/js/main.js' %}"></script>
	<script src="{% static 'box/js/player.js' %}"></script>
</head>
<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid"> <!-- Entire width container -->

      <!-- Website Logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"> <!-- Responsive button thing -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'box:index' %}">Hearcloud</a>
      </div>

      <!-- Items -->
      <div class="collapse navbar-collapse" id="topNavBar">
        <!-- Songs box section -->
        <ul class="nav navbar-nav">
          <li class="{% block box_active %}{% endblock %}">
            <a href="{% url 'box:index' %}">
              <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; {% trans "Songs box" %}
            </a>
          </li>
        </ul>

        <!-- Search songs section -->
        <form class="navbar-form navbar-left" role="search" method="get" action="#">
          <div class="form-group">
            <input type="text" class="form-control" name="query" value="">
          </div>
          <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
        </form>

        <p class="checkbox navbar-text" data-toggle="tooltip" data-placement="bottom" title="Turn PJAX loading on/off">
            <label>
                <input type="checkbox" checked="checked"> Use PJAX
            </label>
        </p>
        <p class="navbar-text hidden" id="loading"><span class="glyphicon glyphicon-refresh"></span> Loading..</p>
        <p class="navbar-text navbar-right"><span class="label label-warning" style="font-weight: bold; font-size: 120%;">Page rendered at {{ today|time:"G:i:s" }}</span></p>

        <ul class="nav navbar-nav navbar-right">
          <li class="{% block addsong_active %}{% endblock %}">
            <a href="{% url 'box:song-add' %}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; {% trans "Add song" %}
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; {% trans "Logout" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container" id="pjax-container">
  {% block body %}
  {% endblock %}
</div>

<!-- Player -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid hearcloudplayer-container">
    <div id="player">
      <div id="deck" class="deck">
          <!-- Track info -->
          <div class="player-current-track-container">
            <span id="deck-info" class="deck-info">
              <!-- Track artwork -->
              <div class="track-artwork-container">
                <img class="track-artwork" src="{% static 'box/images/NoArtwork_Black.png' %}">
              </div>
              <!-- Title and artist names -->
              <div class="player-track-name-artist player-track-name-artist-standard">
                <span class="track-title">
                  <span class="primary-title">Track title could be more than one line</span> 
                </span>
                <span class="track-artist">Artist name could be also more than one line</span>  
              </div>
            </span>
          </div>

          <!-- Track waveform -->
          <div class="player-waveform-container">
            <canvas id="deck-scope" class="deck-scope"></canvas>
            <canvas id="deck-position" class="deck-position"></canvas>
          </div>

          <!-- Player control buttons -->
          <div class="player-buttons-container">
            <div class="play-button-container">
              <canvas id="deck-play-button" class="deck-play-button"></canvas>
            </div>
            <canvas id="deck-looper" class="deck-looper"></canvas>
          </div>
    </div>
    </div>
  </div>
</nav>

<footer class="footer">
  <div class="container">
    <p class="text-muted">{% trans "This software is open source, licensed under AGPL v3. You can find the code, license and instructions " %}<a href="http://github.com/mpvillafranca/hearcloud">here</a>.</p>
    <p class="text-muted">{% trans "Coded by" %} <a href="http://github.com/mpvillafranca">mpvillafranca</a> &copy; 2016.</p>
  </div>
</footer>
</body>
