{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hearcloud{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap CSS v3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100%2C100italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&subset=latin,cyrillic-ext,latin-ext,cyrillic">
    <link type='text/css' rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Slab'>

    <!-- nprogress bar -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/hearcloud.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'box/css/box.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'box/css/player.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'home/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'box/css/colors.css' %}">
</head>
<body>

<header id="site-header" role="banner">
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top navbar-shrink" role="navigation">
    <div class="container-fluid"> <!-- Entire width navbar -->

      <!-- Website Logo -->
      <div class="navbar-header">
        <!-- Responsive button thing -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
        </button>
        <!-- Logo itself -->
        <a class="navbar-brand" href="{% url 'box:index' %}">Hearcloud</a>
      </div><!-- navbar-header -->

      <!-- Items: Nav left -->
      <div class="nav-left">
        <div class="navbar-collapse collapse" id="navbar">

            <!-- Songs box section -->
            <ul class="nav navbar-nav">
              <li>
                <a href="{% url 'box:index' %}">
                  <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; {% trans "Collection" %}
                </a>
              </li>

              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp; {% trans "Playlists" %}
                </a>
              </li>
            </ul>

            <div class="col-sm-6 col-md-6">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- navbar-collapse -->
      </div><!-- nav-left -->

      <!-- Items: Nav-right -->
      <div class="nav-right">

        <!-- Search songs section desktop -->
        <!--<div class="search-form hidden-xs hidden-sm t-search-form-desktop">
            {% csrf_token %}
            <input type="text" name="query" id="query" placeholder="{% trans "Search on Hearcloud" %}" class="form-control" />
            <button name="button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>-->



        <!-- User nav -->
        <div class="user-nav">
          <ul class="nav navbar-nav loggedin clearfix">
            <!-- Add songs -->
            <li class="addthing t-addthing">
              <a href="{% url 'box:song-add' %}" class="">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </li>

            <!-- User settings -->
            <li class="user">
              <a class="dropdown-toggle user-menu" aria-expanded="false" data-toggle="dropdown" id="me">
                <span class="avatar avatar--s">
                  <img title="{{ user.username }}" alt="{{ user.username }}" src="{% static 'users/img/DefaultProfile.png' %}" />

                </span>
              <span class="sr-only">{{ user.username }}</span>
                </a><div class="dropdown-menu pull-right" role="menu">
                <ul>
                    <li>
                    <a href="{% url 'users:user-detail' user.slug %}"><i class="fa fa-user fa-fw"></i>
                    {% trans "Profile" %}
                    </a></li>
                    <li>
                    <a href="{% url 'users:user-update-profile' user.slug %}"><i class="fa fa-edit fa-fw"></i>
                    {% trans "Edit profile" %}
                    </a></li>
                    <li class="divider"></li>
                    <li>
                    <a href="{% url 'users:user-update-settings' %}"><i class="fa fa-cog fa-fw"></i>
                    {% trans "Account settings" %}
                    </a></li>
                    <li class="divider"></li>
                    <li>
                    <a rel="nofollow" data-method="delete" href="{% url 'users:logout' %}"><i class="fa fa-arrow-left fa-fw"></i>
                    {% trans "Logout" %}
                    </a></li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">{% trans "This software is open source, licensed under AGPL v3. You can find the code, license and instructions " %}<a href="http://github.com/mpvillafranca/hearcloud">here</a>.</p>
    <p class="text-muted">{% trans "Coded by" %} <a href="http://github.com/mpvillafranca">mpvillafranca</a> &copy; 2016.</p>
  </div>
</footer>

<!--<nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" id="playernav">
  <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
              </li>

              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <div id="waveform">
                </div>
              </li>
              <li>
              </li>
            </ul>  
  </div>
</nav>-->
{% include 'box/player.html' %}

<!-- JAVASCRIPT -->
<script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script type="text/javascript" src="{% static "box/js/fm.js" %}"></script>
<script type="text/javascript">
  $(function() {
      $.fm({debug: false});
  });
</script>
<script type="text/javascript" src="{% static "box/js/main.js" %}"></script>
<script type="text/javascript" src="{% static "box/js/sorttable.js" %}"></script>
<script type="text/javascript" src="{% static "box/js/search.js" %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
<script>
  var wavesurfer = Object.create(WaveSurfer);

  wavesurfer.init({
	  container: document.querySelector('#waveform'),
	  cursorColor: '#aaa',
	  cursorWidth: 1,
	  height: 80,
	  waveColor: '#588efb',
	  progressColor: '#f043a4'
  });

  wavesurfer.load('http://127.0.0.1:8000/media/mpvillafranca/Marvin_Gaye__Tammi_Terrell_-_Aint_No_Mountain_High_Enough.m4a');
</script>
<script>
$(function() {
  $( "#slider" ).slider();
});

var slider = $('#slider');

slider.slider({
  range: "min",
  value: 35,
});
</script>
</body>
</html>
