<!-- Player -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid hearcloudplayer-container">
    <div id="player">
      <div id="deck" class="deck">
          <!-- Track info -->
          <div class="player-current-track-container">
            <span id="deck-info" class="deck-info">
              <!-- Track artwork -->
              <div class="track-artwork-container">
                <img class="track-artwork" src="/media/mpvillafranca/Marvin_Gaye__Tammi_Terrell_-_Aint_No_Mountain_High_Enough_-_Artwork.jpg">
              </div>
              <!-- Title and artist names -->
              <div class="player-track-name-artist player-track-name-artist-standard">
                <span class="track-title">
                  <span class="primary-title">Track title could be more than one line</span> 
                </span>
                <span class="track-artist">Artist name could be also more than one line</span>  
              </div>
            </span>
          </div>

          <!-- Track waveform -->
          <div class="player-waveform-container">
            <div id="waveform"></div>
          </div>

          <!-- Player control buttons -->
          <div class="player-buttons-container">

            <!-- Volume control -->
            <section> 
              <span class="tooltip"></span> 
              <div id="slider"></div>
              <span class="volume"></span>
            </section>


            <div class="play-button-container">
              <canvas id="deck-play-button" class="deck-play-button"></canvas>
            </div>
            <canvas id="deck-looper" class="deck-looper"></canvas>
          </div>
    </div>
    </div>
  </div>
</nav>
