<section class="player-container player-section">
  <!-- No tracks loaded -->
  <!--<span class="no-tracks">
    <img class="no-tracks-icon" src="https://github.com/mpvillafranca/hearcloud-doc/blob/master/images/logo_hearcloud_full.png?raw=true">
  </span>
  <p class="no-tracks-message">No hay nada en el reproductor. Elige una pista y escúchala para empezar.</p>-->
  
  <!-- Current track info -->
  <div class="current-track-container">
    <!-- Track artwork -->
    <a href="#" class="track-artwork-link">
      <img class="track-artwork" src="https://geo-media.beatport.com/image_size/45x45/13862142.jpg">
    </a>
    
    <!-- Track Title, Remixer, Artists -->
    <div class="track-name-artist track-name-artist-standard">
      <!-- Track title -->
      <span class="track-title">
        <a href="#">
          <span class="title">Hakatsu (Dzasko Re-Edit)</span>
        </a>
      </span>
      <!-- Track artists -->
      <span class="track-artist">MPV &amp; Madhex</span>
    </div>
    <!-- End Track Title, Remixer, Artists -->
    
    <!-- More info dropdown button -->
    <div class="more-info-button-parent">
      <a href="#" class="more-info-button-link">INFO</a>
      <!-- Info Drop Down -->
      <div class="info-drop">
        <ul class="info">
          <!-- Artists -->
          <li>
            <span class="category">artists</span>
            <span class="value">MPV &amp; Madhex</span>
          </li>
          <!-- Genres -->
          <li>
            <span class="category">genres</span>
            <span class="value">Progressive House</span>
          </li>
          <!-- Label -->
          <li>
            <span class="category">label</span>
            <span class="value">Protocol Recordings</span>
          </li>
          <!-- Release Date -->
          <li>
            <span class="category">released</span>
            <span class="value">2016-07-01</span>
          </li>
          <!-- BPM -->
          <li>
            <span class="category">bpm</span>
            <span class="value">128</span>
          </li>
          <!-- Key -->
          <li>
            <span class="category">key</span>
            <span class="value">E min</span>
          </li>
          <!-- Duration -->
          <li>
            <span class="category">length</span>
            <span class="value">6:32</span>
          </li>
        </ul>
      </div>
      <!-- End Info Drop Down -->
    </div>  
    <!-- End More info dropdown button -->
  </div>
  <!-- End Current track info -->
  
  <!-- Track waveform -->
  <div class="player-waveform-container" style="display: block;">
    <div class="track-waveform" width="634" height="45"></div>
  </div>
  <!-- End Track waveform -->
  
  <!-- Control Buttons -->
  <div class="player-buttons-container">
    <!-- Volume control -->
    <div class="volume-button-parent">
      <a class="volume-button">
      </a>
    </div>
    <div class="volume-drop">
      <input type="range" orient="vertical" class="volume-drop-range">
    </div>
    
    <!-- Player Controls -->
    <div class="player-controls">
      <a href="#" class="play-button play">
        <span class="glyphicon glyphicon-play play-button-icon" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pause pause-button-icon" aria-hidden="true"></span>
      </a>
    </div>
    <!-- End Player Controls -->
  </div>
  <!-- End Control Buttons -->
</section>
