{% extends "box/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-10">
            <div class="panel panel-default outline">
                <div class="panel-body panel-form">

                  <h3 class="form-title">{% trans 'Add a New Song' %}</h3>
                  {% if error_message %}
                      <p><strong>{{ error_message }}</strong></p>
                  {% endif %}
                  <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-buttons">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> {% trans 'Submit' %}
                        </button>
                        <a href="{% url 'box:index' %}">
                          <button class="btn btn-danger" type="button">
                              <i class="fa fa-times"></i> {% trans 'Cancel' %}
                          </button>
                        </a>
                    </div>
                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
