{% extends 'box/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid songs-container" id="song-{{ song.id }}">
  <div class="row song-details-row">
      <div class="col-sm-4 col-md-3">
          <div class="row">
              <!-- Left cover artwork -->
              <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-artwork">
                        <a href="{% url 'box:song-detail' username=user.slug slug=song.slug %}">
                            {% if song.artwork %}
                                <img src="{{ song.artwork.url }}" class="img-responsive img-detail-artwork">
                            {% else %}
                                <img src="{% static 'box/images/NoArtwork_Black.png' %}" class="img-responsive img-detail-artwork">
                            {% endif %}
                        </a>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
              <!-- Lyrics -->
              <div class="col-md-12">
                <span class="cat"><strong>{% trans "Lyrics:" %}</strong></span>
                <div class="panel panel-default">
                  <div class="song-detail-tag-body">
                    <span class="val">{% if song.lyrics %} {{ song.lyrics|linebreaks }} {% else %} &nbsp; {% endif %}</span>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!-- Right Song Info -->
      <div class="col-sm-8 col-md-9">
          <div class="panel panel-default">
            <div class="panel-body song-details">
              <div class="clearfix">
                <!-- Delete action -->
                <div class="pull-right">
                  <form action="{% url 'box:song-delete' username=user.slug slug=song.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="song_id" value="{{ song.id }}" />
                    <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete
                    </button>
                  </form>
                </div>
                <!-- Download action -->
                <div class="pull-right detail-action">
                  <a href="{% url 'box:song-download' username=user.slug slug=song.slug %}">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</button>
                  </a>
                </div>
                <!-- Cancel edit action -->
                <div class="pull-right detail-action">
                  <button type="button" class="btn btn-warning btn-xs" id="btn-cancel-edit-song" style="display: none;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</button>
                </div>
                <!-- Edit action -->
                <div class="pull-right detail-action">
                  <a href="{% url 'box:song-update' username=user.slug slug=song.slug %}" class="fm-update" data-fm-callback="redirect" data-fm-target="{% url 'box:song-detail' username=user.slug slug=song.slug %}">
                  <button type="button" class="btn btn-warning btn-xs" id="btn-edit-song"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>
                  </a>
                </div>
                <!-- Submit edit action -->
                <div class="modal-buttons">
                  <div class="pull-right detail-action">
                    <button type="submit" class="btn btn-success btn-xs" id="btn-submit-song" style="display: none;"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Submit</button>
                  </div>
                </div>
                <div class="inline-headers">
                  <!-- Play action -->
                  <a target="_blank" href="{{ song.file.url }}">
                  <button type="button" class="btn btn-success btn-circle btn-lg btn-play">
                  <i class="glyphicon glyphicon-play"></i>
                  </button>
                  </a>
                  {% if song.title %}
                  &nbsp;
                  <h3>{{ song.title }}</h3>
                  {% endif %}
                </div>
              </div>
              {% if error_message %}
              <p><strong>{{ error_message }}</strong></p>
              {% endif %}
              <!-- Song details table -->
              <div class="row">
                <!-- Details list -->
                <ul class="list-unstyled" id="song-details">
                  <!-- Filename -->
                  <div class="col-md-12">
                    <li>
                      <span class="cat"><strong>{% trans "Filename:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.file.name %} {{ song.file.name }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Track title -->
                  <div class="col-md-8">
                    <li>
                      <span class="cat"><strong>{% trans "Track Title:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.title %} {{ song.title }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Duration -->
                  <div class="col-md-2">
                    <li>
                      <span class="cat"><strong>{% trans "Duration:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.duration %} {{ song.duration }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- File type -->
                  <div class="col-md-2">
                    <li>
                      <span class="cat"><strong>{% trans "File size:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.file_size %} {{ song.file_size }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Artist -->
                  <div class="col-md-8">
                    <li>
                      <span class="cat"><strong>{% trans "Artist:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.artist %} {{ song.artist }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Year -->
                  <div class="col-md-2">
                    <li>
                      <span class="cat"><strong>{% trans "Year:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.year %} {{ song.year }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- File size -->
                  <div class="col-md-2">
                    <li>
                      <span class="cat"><strong>{% trans "File type:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.file_type %} {{ song.file_type }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Album -->
                  <div class="col-md-6">
                    <li>
                      <span class="cat"><strong>{% trans "Album:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.album %} {{ song.album }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Album artist -->
                  <div class="col-md-6">
                    <li>
                      <span class="cat"><strong>{% trans "Album artist:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.album_artist %} {{ song.album_artist }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Track number -->
                  <div class="col-md-3">
                    <li>
                      <span class="cat"><strong>{% trans "Track number:" %}</strong></span>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="panel panel-default">
                            <div class="song-detail-tag-body">
                              <span class="val">{% if song.track_number %} {{ song.track_number }} {% else %} &nbsp; {% endif %}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="song-detail-tag-tknumber-of">
                            <p>{% trans "of" %}</p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="panel panel-default">
                            <div class="song-detail-tag-body">
                              <span class="val">{% if song.track_total %} {{ song.track_total }} {% else %} &nbsp; {% endif %}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- BPM -->
                  <div class="col-md-3">
                    <li>
                      <span class="cat"><strong>{% trans "BPM:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.bpm %} {{ song.bpm }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Original artist -->
                  <div class="col-md-6">
                    <li>
                      <span class="cat"><strong>{% trans "Original artist:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.original_artist %} {{ song.original_artist }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Key -->
                  <div class="col-md-2">
                    <li>
                      <span class="cat"><strong>{% trans "Key:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.key %} {{ song.key }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Composer -->
                  <div class="col-md-5">
                    <li>
                      <span class="cat"><strong>{% trans "Composer:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.composer %} {{ song.composer }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Lyricist -->
                  <div class="col-md-5">
                    <li>
                      <span class="cat"><strong>{% trans "Lyricist:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.lyricist %} {{ song.lyricist }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Comments -->
                  <div class="col-md-12">
                    <li>
                      <span class="cat"><strong>{% trans "Comments:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.comments %} {{ song.comments }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Remixer -->
                  <div class="col-md-4">
                    <li>
                      <span class="cat"><strong>{% trans "Remixer:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.remixer %} {{ song.remixer }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Label/Publisher -->
                  <div class="col-md-4">
                    <li>
                      <span class="cat"><strong>{% trans "Label:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.label %} {{ song.label }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <!-- Genre/content type -->
                  <div class="col-md-4">
                    <li>
                      <span class="cat"><strong>{% trans "Genre:" %}</strong></span>
                      <div class="panel panel-default">
                        <div class="song-detail-tag-body">
                          <span class="val">{% if song.genre %} {{ song.genre }} {% else %} &nbsp; {% endif %}</span>
                        </div>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
              <!-- Details form -->
              <div class="update-form-body"></div>
            </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
