{% load i18n %}
{% load staticfiles %}

<div class="table-responsive" id="no-more-tables">
  <table class="table" id="music-collection-table">
      <thead>
      <tr>

          <th id="col-title" colspan="2">
              {% trans "TITLE" %}
              <span class="glyphicon sorting-arrow glyphicon-arrow-down"></span>
          </th>
          <th id="col-artist">
              {% trans "ARTIST" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-album">
              {% trans "ALBUM" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-time">
              <span class="glyphicon glyphicon-time"></span>
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-ctime">
              {% trans "CREATION TIME" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-mtime">
              {% trans "UPDATED TIME" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th>{% trans "ACTIONS" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for song in all_songs %}
          <tr class="song" id="song-{{ song.id }}">
              <td class="vert-align" data-title="{% trans "ARTWORK" %}">
                <!-- Artwork cropped -->
                <div class="crop">
                  <a href="{% url 'box:song-detail' username=user.username slug=song.slug %}">
                    {% if song.artwork %}
                        <img class="artwork" src="{{ song.artwork.url }}">
                    {% else %}
                        <img class="artwork" src="{% static 'box/images/NoArtwork_Black.png' %}">
                    {% endif %}
                  </a>
                </div>
              </td>
              <!-- Title -->
              <td class="vert-align" data-title="{% trans "TITLE" %}">
                <a href="{% url 'box:song-detail' username=user.username slug=song.slug %}"><p class="list-value title">{% if song.title %}{{ song.title }}{% endif %}</p></a>
              </td>
              <!-- Artist -->
              <td class="vert-align" data-title="{% trans "ARTIST" %}"><p class="list-value artist">{% if song.artist %}{{ song.artist }}{% endif %}</p></td>
              <!-- Album -->
              <td class="vert-align" data-title="{% trans "ALBUM" %}"><p class="list-value album">{% if song.album %}{{ song.album }}{% endif %}</p></td>
              <!-- Duration -->
              <td class="vert-align" data-title="{% trans "DURATION" %}"><p class="list-value duration">{% if song.duration %}{{ song.duration }}{% endif %}</p></td>
              <!-- Creation Time -->
              <td class="vert-align" data-title="{% trans "CREATION TIME" %}"><p class="list-value ctime">{% if song.ctime %}{{ song.ctime|date:'d/m/Y H:i' }}{% endif %}</p></td>
              <!-- Update Time -->
              <td class="vert-align" data-title="{% trans "UPDATED TIME" %}"><p class="list-value mtime">{% if song.mtime %}{{ song.mtime|date:'d/m/Y H:i' }}{% endif %}</p></td>
              <!-- Actions -->
              <td class="vert-align" data-title="{% trans "ACTIONS" %}">
                <!-- Play -->
                <a class="no-decoration a-play-song"
                    data-songurl="{{ song.file.url }}" 
                    data-songtitle="{% if song.title %}{{ song.title }}{% endif %}" 
                    data-songartist="{% if song.artist %}{{ song.artist }}{% endif %}" 
                    data-songartwork="{% if song.artwork %}{{ song.artwork.url }}{% else %}{% static 'box/images/NoArtwork_Black.png' %}{% endif %}"
                >
                  <button type="submit" class="btn btn-success btn-xs" data-action="play">
                      <span class="glyphicon glyphicon-play"></span>
                  </button>
                </a>
                <!-- Download -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-download"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu pull-right index-download-song-dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="{% url 'box:song-download' username=user.username slug=song.slug format='mp3' %}">mp3{% if song.file_type != "mp3" %} (convert){% endif %}</a></li>
                    {% if not song.file_type == 'mp3' and not song.file_type == 'm4a' %}
                    <li><a class="dropdown-item disabled" href="{% url 'box:song-download' username=user.username slug=song.slug format='wav' %}">wav {% if song.file_type != "wav" %} (convert){% endif %}</a></li>
                    <li><a class="dropdown-item disabled" href="{% url 'box:song-download' username=user.username slug=song.slug format='aiff' %}">aiff {% if song.file_type != "aiff" %} (convert){% endif %}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'box:song-download' username=user.username slug=song.slug format='m4a' %}">m4a {% if song.file_type != "m4a" %} (convert){% endif %}</a></li>
                  </ul>
                </div>

                <!-- Delete -->
                <a href="{% url 'box:song-delete' username=user.username slug=song.slug %}" class="no-decoration fm-delete" data-fm-callback="remove" data-fm-target="#song-{{ song.id }}">
                  <button type="submit" class="btn btn-danger btn-xs">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </a>
              </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
