{% load i18n %}
{% load staticfiles %}

<div class="table-responsive" id="no-more-tables">
  <table class="table" id="music-collection-table">
      <thead>
      <tr>

          <th id="col-title" colspan="2">
              {% trans "TITLE" %}
              <span class="glyphicon sorting-arrow glyphicon-arrow-down"></span>
          </th>
          <th id="col-artist">
              {% trans "ARTIST" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-album">
              {% trans "ALBUM" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-time">
              <span class="glyphicon glyphicon-time"></span>
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-ctime">
              {% trans "CREATION TIME" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th id="col-mtime">
              {% trans "UPDATED TIME" %}
              <span class="glyphicon sorting-arrow"></span>
          </th>
          <th>{% trans "ACTIONS" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for song in all_songs %}
          <tr class="song" id="song-{{ song.id }}">
              <td class="vert-align" data-title="{% trans "ARTWORK" %}">
                <!-- Artwork cropped -->
                <div class="crop">
                  <a href="{% url 'box:song-detail' username=user.username slug=song.slug %}">
                    {% if song.artwork %}
                        <img class="artwork" src="{{ song.artwork.url }}">
                    {% else %}
                        <img class="artwork" src="{% static 'box/images/NoArtwork_Black.png' %}">
                    {% endif %}
                  </a>
                </div>
              </td>
              <!-- Title -->
              <td class="vert-align" data-title="{% trans "TITLE" %}">
                <a href="{% url 'box:song-detail' username=user.username slug=song.slug %}"><p class="list-value title">{% if song.title %}{{ song.title }}{% endif %}</p></a>
              </td>
              <!-- Artist -->
              <td class="vert-align" data-title="{% trans "ARTIST" %}"><p class="list-value artist">{% if song.artist %}{{ song.artist }}{% endif %}</p></td>
              <!-- Album -->
              <td class="vert-align" data-title="{% trans "ALBUM" %}"><p class="list-value album">{% if song.album %}{{ song.album }}{% endif %}</p></td>
              <!-- Duration -->
              <td class="vert-align" data-title="{% trans "DURATION" %}"><p class="list-value duration">{% if song.duration %}{{ song.duration }}{% endif %}</p></td>
<!-- Duration -->
              <td class="vert-align" data-title="{% trans "CREATION TIME" %}"><p class="list-value ctime">{% if song.ctime %}{{ song.ctime|date:'d/m/Y H:i' }}{% endif %}</p></td>
<!-- Duration -->
              <td class="vert-align" data-title="{% trans "UPDATED TIME" %}"><p class="list-value mtime">{% if song.mtime %}{{ song.mtime|date:'d/m/Y H:i' }}{% endif %}</p></td>
              <!-- Actions -->
              <td class="vert-align" data-title="{% trans "ACTIONS" %}">
                <!-- Play -->
                <a class="no-decoration a-play-song" data-songurl="{{ song.file.url }}">
                  <button type="submit" class="btn btn-success btn-xs" data-action="play">
                      <span class="glyphicon glyphicon-play"></span>
                  </button>
                </a>
                <!-- Download -->
                <a class="no-decoration" href="{% url 'box:song-download' username=user.username slug=song.slug %}">
                  <button type="submit" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-download"></span>
                  </button>
                </a>
                <!-- Delete -->
                <a href="{% url 'box:song-delete' username=user.username slug=song.slug %}" class="no-decoration fm-delete" data-fm-callback="remove" data-fm-target="#song-{{ song.id }}">
                  <button type="submit" class="btn btn-danger btn-xs">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </a>
              </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
