{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your music everywhere">
    <meta name="author" content="mpvillafranca">

    <title>{% block title %}Hearcloud - Your music everywhere{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/colors.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Hearcloud</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whatis">{% trans "What is Hearcloud?" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">{% trans "Features" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans "Contact" %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-signin btn-space" style="display: none;">
                        <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg outline">{% trans "Sign Up For Free" %}</a>
                    </li>
                    <li class="btn-space">
                        <a href="{% url 'users:login' %}" class="btn btn-primary btn-lg outline">{% trans "Sign In" %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{% trans "Your music everywhere" %}</div>
                <div class="intro-lead-in">{% trans "Listen on every computer, phone, tablet and TV" %}</div>
                <a href="{% url 'users:register' %}" class="page-scroll btn btn-xl">{% trans "Sign Up For Free" %}</a>
            </div>
        </div>
    </header>

    <!-- What is? Section -->
    <section id="whatis" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    
                    <h2 class="section-heading">{% trans "What is " %}<strong class="strong-font">Hearcloud</strong>&nbsp;?</h2>
                    <h3 class="section-subheading text-muted">{% trans "Hearcloud is a web application which lets you effortlessly store all your music files and make them availabe anywhere and anytime you want. You can organise your songs inside the plattform, editing all their attributes (like title, artists, artwork, ...) and download the updated files again to your system." %}</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Features" %}</h2>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Anytime, everywhere" %}</h4>
                    <p class="text-muted">{% trans "Access to your music collection whenever you want." %}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Editing online" %}</h4>
                    <p class="text-muted">{% trans "Edit file's attributes like \"Title\", \"Artist\", \"Artwork\", etc and get your music clearly and well organized." %}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{% trans "Unlimited free storage" %}</h4>
                    <p class="text-muted">{% trans "You can upload as many files as you want in order to never miss a song." %}</p>
                </div>
            </div>
        </div>
    </section>

        <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Contact the developer" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'home/img/team/mpvillafranca.jpg' %}" class="img-responsive img-circle img-developer" alt="">
                        <h4>Mariano Palomo Villafranca</h4>
                        <p class="text-muted">@mpvillafranca</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://github.com/mpvillafranca"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/mariano-palomo-villafranca-7576a085"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="">{% trans "This software is open source, licensed under AGPL v3. You can find the code, license and instructions" %} <a href="http://github.com/mpvillafranca/hearcloud">{% trans "here" %}</a>.</span><br>
                    <span class="copyright">{% trans "Coded by" %} mpvillafranca &copy; Hearcloud 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">{% trans "Privacy Policy" %}</a>
                        </li>
                        <li><a href="#">{% trans "Terms of Use" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
    <script src="{% static 'home/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'home/js/home.js' %}"></script>

</body>

</html>
