{% extends 'box/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Hearcloud | {{ user.username }}{% endblock %}

{% block content %}
<div class="container-fluid songs-container">
    <div class="row">
        <!-- Left cover artwork -->
        <div class="col-sm-4 col-md-3">
          <div class="panel panel-default">
              <div class="panel-body">
                {% if user.picture %}
                  <img class="img-responsive img-rounded img-detail-artwork" src="{{ user.picture|thumbnail_url:'normal' }}" alt=""/>
                {% else %}
                  <img class="img-responsive img-rounded img-detail-artwork" src="{% static 'users/img/DefaultProfile.png' %}" alt=""/>
                {% endif %}
              </div>
            </div>
        </div>
        <!-- User details -->
        <div class="col-sm-8 col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="profile-header">
                  {% if user.first_name %}<h2>{{ user.first_name }} {% if user.last_name %}{{ user.last_name }}{% endif %}</h2>{% endif %}
                  <h4>@{{ user.username }}</h4>
                  <p>
                      <a href="{% url 'box:index' username=user.slug %}">Songs: <span class="badge">{{ user.get_songs_count }}</span></a>
                      <a href="{% url 'box:playlist-list' username=user.slug %}">Playlists: <span class="badge">0</span></a>
                  </p>
                  <p>
                      <a class="btn btn-default" href="{% url 'users:user-update-settings' username=user.username %}">Edit Profile</a>
                  </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
