{% extends "users/base_visitor.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            <div class="panel panel-default outline">
                <div class="panel-body">
                    <h3 class="form-header">Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {% include 'users/form_template.html' %}
                        <div class="form-group">
                            <div class="form-buttons">
                                <a class="form-cancel" href="{% url 'home:index' %}">Cancel</a>
                                <button type="submit" class="btn btn-success btn-outline">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer panel-footer-outline">
                    Don't have an account? <a href="{% url 'users:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
