/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0px 0;
  width: 95%;
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.h3, h3 {
    margin-top: 10px;
}



/* Logo */
.navbar-brand{
  font-family: 'Satisfy', cursive;
}

/* Play button */
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/* Details page: Play, header */
.inline-headers h3, .inline-headers a {
  display: inline-block;
  vertical-align: middle;
}
.inline-headers h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.inline-headers a {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Details page: Action buttons */
.detail-action {
  padding-right: 10px;
}

/* Cropped artwork image on Index */
.crop {
    width: 110px;
    height: 35px;
    overflow: hidden;
}

.crop img {
    width: 110px;
    height: 110px;
}

.img-detail-artwork{
    min-width: 100%;
}
.panel-body-artwork{
    background-color: #f5f5f5;
}

/* Vertically alligned rows in tables */
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/* Modal upload songs */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.panel-body .img-responsive {
    margin: 0 auto;
}

.song-details {
    padding-bottom: 0px;
}

.song-details-row {
    margin-right: -20px;
    margin-left: -20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.song-detail-tag-body{
  padding:5px;
}
.song-detail-tag-tknumber-of{
  padding-top:5px;
}

.sorting-arrow{
    font-size:70%;
    color:#616161;
}

#music-collection-table th:hover{
     cursor:pointer;    
}
