/* Agency Style CSS - Hearcloud Base */
/*************************************/
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
}
/*************************************/
/* Body: Fonts */
body {
    overflow-x: hidden;
    /*font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;*/
    font-family: 'Roboto', 'Noto', sans-serif;
}
/*************************************/
.no-decoration{
    text-decoration: none;
}
/*************************************/
/* Navbar */
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none /* No dots */
}
.navbar {
    border: none; /* No border */
}
.navbar-default {
    border-color: transparent
}
.navbar-nav{
    margin:0;
}
/*************************************/
/* Navbars */
.navbar .nav-left {
    float: left;
}
.navbar .nav-right {
    float: right;
}
.navbar .user-nav {
    float: left;
}
/*************************************/
/* User nav */
.navbar .user-nav {
    float: right
}
.navbar .user-nav>ul a {
    display: block;
    margin: 0
}
/*************************************/
/* Navbar links */
.navbar .nav>li>a {
    height: 50px;
    margin: 0 5px;
    padding: 0;
    line-height: 50px;
    border-bottom: 4px solid;
    font-size: large;
}

.navbar-nav>li {
    padding-right: 5px;
    padding-left: 5px;
}
/*************************************/
/* Navbar brand logo */
/* PC Screen */
@media (min-width: 768px)
{
  .navbar-header {
      float: left;
  }
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: xx-large;
}
/* Responsive */
@media only screen and (max-width: 767px) {
    .navbar-header .navbar-brand {
        left: 50%;
        position: absolute;
        margin: 0 0 0 -147px;
    }
    .navbar-header .navbar-brand:hover,
    .navbar-header .navbar-brand:focus,
    .navbar-header .navbar-brand.active {
        background-position: 0 0;
    }
}
/*************************************/
/* Navbar active link */
/* PC Screen */
@media only screen and (min-width: 768px) {
    .navbar .nav>li.active>a,
    .navbar .nav>li.active>a:hover,
    .navbar .nav>li.active>a:focus {
        background: none;
        box-shadow: none
    }
}
@media only screen and (max-width: 767px) {
    .navbar .nav>li.active>a{
        background: none;
        box-shadow: none
    }
    .navbar .nav>li.active>a:hover,
    .navbar .nav>li.active>a:focus{
        background: none;
        box-shadow: none
    }

    .navbar .nav>li.active>a:before{
        content: "";
        top: 50%;
        left: -10px;
        position: absolute;
        width: 4px;
        height: 25px;
        margin-top: -11px;
    }
}
/*************************************/
/* Responsive Navbar button */
.navbar-toggle {
    float: left;
    margin-left: 10px;
    padding: 10px;
    border: 0;
}
/*************************************/
/* Navbar search */
.search-form{
    float: left;
}
.stylish-input-group .input-group-addon{
    background: none;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
    background: none;
}
.stylish-input-group button{
    border:0;
}
/*************************************/
/* Avatar circle img */
.avatar {
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%
}
.avatar img {
    border: 2px solid;
}
.avatar img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    vertical-align: top
}
.avatar--s {
    width: 32px;
    height: 32px;
}
.navbar .user-nav>ul .avatar {
    width: 36px;
    height: 36px;
    border: 0;
}
.navbar .user-nav>ul .avatar img {
    vertical-align: top
}
.navbar .user-nav>ul {
    margin-bottom: 0;
}
.navbar .user-nav>ul.loggedin li a.user-menu {
    padding: 7px;
}
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
    border: none;
}
/* Responsive */
@media only screen and (max-width: 767px)
{
    .navbar .user-nav>ul>li.user {
        position: static;
    }
    .navbar .user-nav>ul.loggedin li a.user-menu {
        top: 0;
        right: 10px;
        position: absolute;
        padding-left: 0;
        padding-right: 0;
    }
}
/*************************************/
/* Add songs */
@media only screen and (max-width: 767px){
    .navbar .user-nav>ul>li {
        top: 0;
        right: 65px;
        position: absolute;
    }
}
/*************************************/
/* Dropdown menu */
.dropdown-menu {
    border: 2px solid;
}
.dropdown-menu ul {
    margin: 5px 15px;
    list-style: none
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 50px;
    }
}
.dropdown-menu ul>li>a:hover,
.dropdown-menu ul>li>a:focus {
    text-decoration: none;
}
/* Arrow */
.navbar .dropdown-menu:after {
    content: '';
    border-left: 6px solid;
    border-right: 6px solid;
    border-bottom: 6px solid;
    position: absolute;
    top: -6px;
    right: 28px;
}
@media (max-width: 767px){
  .navbar .dropdown-menu:after {
      right: 26px;
  }
}

/*************************************/
@media only screen and (min-width: 800px) {
    .list-value {
        margin: 0;
    }
}
/* No More Tables CSS */
@media only screen and (max-width: 800px) {
	/* Force table to not be like tables anymore */
	#no-more-tables table, #no-more-tables thead,
	#no-more-tables tbody, #no-more-tables th,
	#no-more-tables td, #no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr {
        border: 1px solid;
    }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/* Label the data */
	#no-more-tables td:before {
        content: attr(data-title);
    }

    .list-value{
        margin: 0 0 10px;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0px 0;
  width: 95%;
}

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.h3, h3 {
    margin-top: 10px;
}



/* Logo */
.navbar-brand{
  font-family: 'Satisfy', cursive;
}

/* Play button */
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/* Details page: Play, header */
.inline-headers h3, .inline-headers a {
  display: inline-block;
  vertical-align: middle;
}
.inline-headers h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.inline-headers a {
  margin-top: 0;
  margin-bottom: 30px;
}

/* Details page: Action buttons */
.detail-action {
  padding-right: 10px;
}

/* Cropped artwork image on Index */
.crop {
    width: 110px;
    height: 35px;
    overflow: hidden;
}

.crop img {
    width: 110px;
    height: 110px;
}

.img-detail-artwork{
    min-width: 100%;
}
.panel-body-artwork{
    background-color: #f5f5f5;
}

/* Vertically alligned rows in tables */
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/* Modal upload songs */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.panel-body .img-responsive {
    margin: 0 auto;
}

.song-details {
    padding-bottom: 0px;
}

.song-details-row {
    margin-right: -20px;
    margin-left: -20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.song-detail-tag-body{
  padding:5px;
}
.song-detail-tag-tknumber-of{
  padding-top:5px;
}

.sorting-arrow{
    font-size:70%;
    color:#616161;
}

#music-collection-table th:hover{
     cursor:pointer;
}
